.registration-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('../images/nagarta.png'); /* Default mobile image */
  background-size: cover;
  background-position: center;
}

@media (min-width: 769px) {
  .registration-page {
    background-image: url('../images/nr.png'); /* Desktop image */
  }
}

.form-container {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 40px;
  width: 400px;
  max-width: 90%;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.input-group {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: rgba(255, 255, 255, 0.5);
  color: #333;
}

.button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: #007bff;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
}

.error {
  color: red;
  margin-top: 10px;
  text-align: center;
}

.link {
  color: #fff;
  text-align: center;
  display: block;
  margin-top: 20px;
}

.success-message {
  color: green;
  margin-top: 20px;
  text-align: center;
  font-size: 1.2em;
}